.remove-item {
  position: absolute;
  top: 1px;
  right: 5px;

  font-size: 1.2rem;
  @media screen and (min-width: 662px) {
    font-size: 1rem;
  }
}

.card-item {
  box-shadow: #888888 2px 2px 4px 0px;
}
